.dropdown{
    cursor: pointer;
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    color: var(--textColourSecondary);
}

.dropdownRow {
    padding: var(--btnPadding);;
}

.dropdownMenuRow:hover {
    background-color: var(--rowHoverColour);
}

.menu{
    display: block;
    position: absolute;
    list-style-type: none;    
    background-color: var(--btnColour);
    border-radius: var(--radiusPrimary);
    overflow: hidden;
    border-style: solid;
    border-width: 0.1px;
    width: 100%;
    z-index: 2;
}

.isClosed{
    display: none;
}

.selectedOptionDisplay{
    border-radius: var(--radiusPrimary);
    background-color: var(--btnColour);
    display: flex;
}

.selectedOptionDisplay:hover{
    background-color: var(--rowHoverColour);
}

.selectedOptionDisplayText{
    flex: 1
}

.arrow{
    padding-left: 4px;
}

.selectedMenuRow{
    background-color: var(--dropdownSelectedItemColour);
}
